<br>
<table border="2" align="center" width="50%">
  <tr>
    <td>
      <h2 align="center">Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field" width="100%" align="center">
          <%= f.label :email%>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div><br>

        <div class="field" align="center">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
         
        <% if devise_mapping.rememberable? -%>
          <div class="field" align="center">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions" align="center">
          <%= f.submit "Log in", class: "custom-control-input" %>
        </div>
      <% end %>
    </td>
  </tr>
</table><br>

<%= render "devise/shared/links" %><br><br><hr>
<h3 align="center">OR LOGIN WITH.........</h3><br><hr>
<table border="0px" align="center" width="100%">
  <td>
    
    <th>
      <%= link_to "Login with facebook", "/auth/facebook", class: "btn btn-primary"%>
    </th>

    <th>
      <%= link_to "Login with linkedin", "/auth/linkedin", class: "btn btn-primary"%>
    </th>

    <th>
      <%= link_to "Login with Google", "/auth/google_oauth2", class: "btn btn-primary"%>
    </th>

    <th>
      <%= link_to "Login with Twitter", "/auth/twitter", class: "btn btn-primary"%>
    </th>
  </td>
</table>