<div class="table-responsive">          
  <table class="table datatable table-bordered">
    <thead>
      <tr class="bg-primary">
        <th>Email</th>
        <th>Name</th>
        <th>Image</th>
        <th>Action</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% if current_user.present? %> 
          <td>
            <%= current_user.email %></td>
            <td><%= current_user.firstname %></td>
            <td><%= image_tag current_user.image_url.to_s, style:"height: 70px; width:70px;" %> </td>
            <td><%= link_to "edit profile", edit_user_registration_path(@user), class: "btn btn-primary"%></td>
            <td><%= link_to "Back", :back, class: "btn btn-primary" %>
            </td>
        <%end%>  
      </tr>
    </tbody>
  </table>
</div>
