<html>
  <body>
    
      

    <% if @users.blank? %>
      <h4>Result can not found <%= params[:search] %>.</h4>
    <% end %>
    
    <table border="2px" align="center" width="20%" class="table">
      <td>
        <ul>
          <% @users.where.not(id: current_user.id).each do |user| %>
            <li><hr>
              
              <%= user.firstname %>&nbsp;&nbsp;&nbsp;&nbsp;
              <%= user.email %>
              <% if user.image.present? %>
                <%= image_tag user.image_url.to_s, style:"height: 70px; width:70px;" %>
              <% end %>
               <p align="center">

              <% if Frind.where(user_id: [current_user.id, user.id],friend_id: [current_user.id, user.id], accepted: false).present? %>
                Request Sent
                <% elsif Frind.where(user_id: [current_user.id, user.id],friend_id: [current_user.id, user.id], accepted: true).present? %>
                    Friend
                <%else %>
                <%= link_to "Add Friend", frinds_path(friend_id: user), method: :post, class: "btn btn-primary" %>
                <%if current_user && current_user.try(:admin?) %>
                <%= link_to "Decline", user_path(id: user.id), method: :delete, class: "btn btn-primary" %>
                  <% end %>
                  <%if current_user && current_user.try(:moderator?) %>
                <%= link_to "Edit", edit_user_path(id: user.id), class: "btn btn-primary" %>
                <% end %>
                </p>
              <% end %></p>
            </li>
          <% end %>
        </ul>
      </td>
    </table>
      
    <h3 align="center"> Here is a list of your pending requests</h3>
    <ul>
      <% current_user.received_frinds.each do |f_request| %>
        <li>
          <p align="center">
            
          <%= f_request.user.try(:email) %>
          <%= link_to "Accept", frind_path(id: f_request.id), method: "put", class: "btn btn-primary" %>
           
          <%= link_to "Decline", frind_path(id: f_request.id), method: :delete, class: "btn btn-primary" %></p>
        </li>
      <% end %>
    </ul>

  </body>
</html>