<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%#= form.label :user_id %>
    <%#= form.number_field :user_id %>
    <%#= current_user.id %>
    <%= form.hidden_field :user_id, :value => current_user.id %>
  </div>

  <div class="field">
    <%= form.label :topic %>
    <%= form.text_area :topic %>
  </div>

  <div class="field">
    <%= form.label :post_text %>
    <%= form.text_area :post_text %>
  </div>

  <div class="field">
    <%= form.label :attachment %>
    <%= form.text_area :attachment %>
  </div>

  <div class="field">
    <%= form.label :visibility %>
    <%= form.text_field :visibility %>
  </div>

  <div class="field">
    <%= form.label :expiration_date %>
    <%= form.datetime_select :expiration_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
