<h1 align="center"><%= link_to 'New Post', new_post_path, class: "btn btn-primary" %><br/><br /></h1>
<section class="container">
  <div  style="text-align: center;" class="row">
    <% @posts.each do |post| %>
      <div class="col-md-4">
        <a href="/posts/<%= post.id %>">
          <div class="card mb-4 box-shadow card_size">
            <div class="card-header text-center">
              <h4><%= post.topic %></h4>
            </div>
            <div class="post_size " >
              <p>
                <h5><%= post.post_text %></h5>
              </p>
            </div>
             <div class="post_size text-center card-header">
              <p>
                <h5><%= post.attachment %></h5>
              </p>
            </div>
          </div>
        </a>
        <% if post.user_id == current_user.id %>
      <%= link_to 'Edit', edit_post_path(post), class: "btn btn-primary" %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
      <%end%>
      </div>
      
    <% end %>
  </div>
</section>




<style type="text/css">
  .card_size
  {
    width: 297px;
    /*height: 150px;*/
  }
  .h4
  {
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
  }
  .row
  {

    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .container {
    max-width: 940px;
    /*background-color: grey;*/
  }
  .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,0.03);
    border-bottom: 1px solid rgba(0,0,0,0.125);
  }
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 0.25rem;
  }
  .mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
  }
  .post_size
  {
    height: 100px;

  }
</style>
