<p id="notice"><%= notice %></p>
<div class="container">
  <div class="col-sm-12 well">
    <h1><%= @post.topic %></h1>
    <h2><%= @post.post_text %></h2>
    <h5><%= @post.attachment %></h5>
    
  </div>
</div>

<!-- <p>
  <strong>User:</strong>
  <%#= @post.user_id %>
</p> -->

<!-- <p>
  <strong>Topic:</strong>
  <%#= @post.topic %>
</p>

<p>
  <strong>Post text:</strong>
  <%#= @post.post_text %>
</p>

<p>
  <strong>Attachment:</strong>
  <%#= @post.attachment %>
</p>

<p>
  <strong>Visibility:</strong>
  <%#= @post.visibility %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%#= @post.expiration_date %>
</p> -->

<h2>Comments</h2>
<%= render @post.comments %>
 
<!-- <h2>Add a comment:</h2> -->
<%= render 'comments/form' %>
<% if @post.user_id == current_user.id %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<%end%>  
<%= link_to 'Back', posts_path %>

<style type="text/css">
  .well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 2px solid #e3e3e3;
    border-radius: 4px;
  }
  .container {
    max-width: 985px;
  }
</style>
