<!DOCTYPE html>
<html>
  <head>
    <title>Community Network</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= render 'layouts/header'%>    
    <div id="wrapper">
      <% if user_signed_in?%>
      <%= render 'layouts/sidebar'%>
      <% end %>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <%= yield %>
                <!-- <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Menu</a> -->
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->


    <!-- Menu Toggle Script -->
    <script>
      $("#wrapper").toggleClass("toggled");
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
  </body>
</html>
<style type="text/css">
  .container_cm
  {
    background-color: #efeeeec7;
  }
  
</style>
<%= render 'layouts/footer'%>  